.spacer {
	flex: 1 1 auto;
}

.videos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.video {
	display: flex;
	flex-direction: column;
}

.video:hover {
	background-color: gray;
	cursor: pointer;
}

.title, .desc {
	margin: 5px 10px;
}

.video-player {
	width: 300px;
	height: auto;
	margin: 10px;
}
